<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<form action="<%= tasks_path %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name">
  <input type="text" name="description">
  <button>Create !</button>
</form>

